In [3]:
# Python - Functions, OOP, File Handling

In [5]:
# Function -> a reusable block of code.
# using def (define) keyword

In [7]:
def greet():
    print("Hello World!!")

In [9]:
greet() # Callback function

Hello World!!

# Paramaterized Function and Non-Paramaterized Function

In [12]:
# sum of two numbers
a = 1
b = 2
c = a + b
print(c)

3

In [24]:
def sum(a, b):
    result = a + b
    return f"Sum of {a} and {b} is: {result}"

In [26]:
sum(3, 5)

'Sum of 3 and 5 is: 8'

In [28]:
# +,-,*,/

In [40]:
def maths(x, y):
    add = f"Addition of 2 numbers is: {x + y}"
    sub = f"Subtraction of 2 numbers is: {x - y}"
    return add, sub

In [42]:
maths(10, 5)

('Addition of 2 numbers is: 15', 'Subtraction of 2 numbers is: 5')

In [44]:
# Simple Calculator

In [46]:
def add(a, b):
    return f"Addition of {a} and {b} is: {a + b}"

def sub(a, b):
    return f"Subtract of {a} and {b} is: {a - b}"

def mul(a, b):
    return f"Multiplication of {a} and {b} is: {a * b}"

def div(a, b):
    return f"Division of {a} and {b} is: {a / b}"

In [62]:
def calculator(): # main function
    print("1. Add")
    print("2. Subtract")
    print("3. Multiplication")
    print("4. Division")
    print("5. Exit")

    user_choice = int(input("Enter number from 1 - 5: "))

    if user_choice == 5:
        print("Thank you for choosing us..")
        return

    num1 = int(input("Enter first number: "))
    num2 = int(input("Enter second number: "))

    if user_choice == 1:
        print(add(num1, num2))
    elif user_choice == 2:
        print(sub(num1, num2))
    elif user_choice == 3:
        print(mul(num1, num2))
    elif user_choice == 4:
        print(div(num1, num2))
    else:
        print("Invalid Input. Choose Number from 1 -  5.")

In [64]:
calculator()

1. Add
2. Subtract
3. Multiplication
4. Division
5. Exit

Enter number from 1 - 5:  4
Enter first number:  10
Enter second number:  2

Division of 10 and 2 is: 5.0

In [68]:
def person(name, age, phone):
    print("Name of person is:",name)
    print("Age of person is:",age)
    print("Phone of person is:",phone)

In [72]:
person("Ram", 986377378)

TypeError: person() missing 1 required positional argument: 'phone'

# *Args (All Arguments)

In [86]:
def person(name, *details):
    print("Name of person is:",name)
    for each_detail in details:
        print(each_detail)

In [88]:
person("Ram",6787839330, 30, "Kathmandu", "Bachelors")

Name of person is: Ram
6787839330
30
Kathmandu
Bachelors

In [101]:
# **kwargs (All Keyword Arguments)
def person(name, **details):
    print("Name of person is:",name)
    for key, each_detail in details.items():
        print(f"{key} of person is: {each_detail}")

In [103]:
person("Ram", age=30, phone=9866735635, address="Kathmandu", qualification="Bachelors")

Name of person is: Ram
age of person is: 30
phone of person is: 9866735635
address of person is: Kathmandu
qualification of person is: Bachelors

# OOP (Object Oriented Programming)

In [107]:
# Class, Object, Methods, Functions, Attributes

In [109]:
# Inheritance
# Abstraction
# Encapsulation
# Polymorphism

In [111]:
# class
class Student:
    name = "Ram"
    age = 20
    address = "Lalitpur"

In [113]:
# Object
# Student s = new Student()
s = Student()
print(s.name)
print(s.age)
print(s.address)

Ram
20
Lalitpur

In [116]:
# Class with constructor

In [124]:
class Dog:
    species = "Mammal"
    age = 15

    # constructor
    def __init__(self, name):
        self.name = name

In [126]:
dog1 = Dog("Tommy")
print(dog1.species)
print(dog1.name)
print(dog1.age)

Mammal
Tommy
15

In [122]:
dog2 = Dog("Jack")
print(dog2.species)
print(dog2.name)

Mammal
Jack

## Inheritance

In [129]:
class Animal:
    def sound(self):
        print("Animals make sound!!")
# Inherit Animal
class Dog(Animal):
    pass

In [131]:
d = Dog()
d.sound()

Animals make sound!!

In [133]:
class Animal:
    def sound(self):
        print("Animals make sound!!")
# Inherit Animal
class Dog(Animal):
    def __init__(self, name, color):
        self.name = name
        self.color = color

In [139]:
dog = Dog("Charlie", "Golden")
print(dog.name)
print(dog.color)
dog.sound()

Charlie
Golden
Animals make sound!!

In [141]:
# Encapsulation
# public
# protected (_)
# private (__)

In [143]:
class BankAccount():
    def __init__(self, name, balance):
        self.name = name # Public
        self.__balance = balance # Private

    def deposit(self, amount):
        self.__balance += amount

    def get_balance(self):
        return self.__balance

In [159]:
acc = BankAccount("Shyam", 4000)
print("Current Balance:",acc.get_balance())
# deposit
acc.deposit(3000)

print("Balance after deposit:",acc.get_balance())

Current Balance: 4000
Balance after deposit: 7000

# Polymorphism

In [163]:
class CreditCard:
    def pay(self, amount):
        return f"{amount} paid through credit card!!"

class DebitCard:
    def pay(self, amount):
        return f"{amount} paid through debit card!!"

class Cash:
    def pay(self, amount):
        return f"{amount} paid through cash!!"

def make_payment(payment_method, amount):
    print(payment_method.pay(amount))

In [169]:
make_payment(Cash(), 300)

300 paid through cash!!

In [172]:
class PaymentMethod: # parent class
    def make_payment(self, amount):
        return "Make payment through Debit Card, Credit Card or Cash!!"
        
class DebitCard(PaymentMethod):
    def make_payment(self, amount):
        return f"Paid Rs. {amount} using Debit Card!!"

class CreditCard(PaymentMethod):
    def make_payment(self, amount):
        return f"Paid Rs. {amount} using Credit Card!!"

class Cash(PaymentMethod):
    def make_payment(self, amount):
        return f"Paid Rs. {amount} using Cash!!"

def payment(payment_method, amount):
    print(payment_method.make_payment(amount))

In [174]:
dc = DebitCard()
cc = CreditCard()
c = Cash()

In [180]:
payment(dc, 1200)
payment(cc, 11000)
payment(c, 100000)

Paid Rs. 1200 using Debit Card!!
Paid Rs. 11000 using Credit Card!!
Paid Rs. 100000 using Cash!!

# Abstraction

In [197]:
from abc import ABC, abstractmethod # Abstract Base Class

In [229]:
class Payment(ABC): # parent class
    @abstractmethod
    def pay(self, amount):
        pass

    @abstractmethod
    def connection(self):
        print("Connection successfull!!")

class CreditCard(Payment): # child class
    def pay(self, amount):
        return f"{amount} paid through credit card!!"

    def connection(self):
        return "Connection Successfull!!"

In [235]:
c = CreditCard()
print(c.pay(3000))
print(c.connection())

3000 paid through credit card!!
Connection Successfull!!

# File Handling

In [240]:
'''
'r' -> read
'w' -> write
'a' -> append
'''

"\n'r' -> read\n'w' -> write\n'a' -> append\n"

In [242]:
# write text file

In [244]:
file = open('details.txt', 'w')
file.write('My name is Ram Bahadur. I live in Kathmandu.')
file.close()

In [247]:
# Read text file

In [249]:
file = open('details.txt', 'r')
content = file.read()
print(content)
file.close()

My name is Ram Bahadur. I live in Kathmandu.

In [251]:
# Append data in text file

In [253]:
file = open('details.txt', 'a')
file.write("I have completed my Masters degree!!")
file.close()

In [255]:
file = open('details.txt', 'r')
content = file.read()
print(content)
file.close()

My name is Ram Bahadur. I live in Kathmandu.I have completed my Masters degree!!

In [259]:
# CSV File read and write

In [261]:
import csv

In [265]:
data = [
    ["Hot Drinks", "Cold Drinks", "Snacks"],
    ["Coffee", "Mineral Water", "French Fries"],
    ["Tea", "Coke", "Sausages"]
]

In [267]:
with open("Menu.csv", 'w', newline="") as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [270]:
# read csv

In [272]:
with open("Menu.csv", 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Hot Drinks', 'Cold Drinks', 'Snacks']
['Coffee', 'Mineral Water', 'French Fries']
['Tea', 'Coke', 'Sausages']